@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


:root{
  --a:0;
  --b:168px;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  position: relative;
  z-index: 2;
  /* height: 90vh; */
}

.right {
  margin: 5px;
  width: 75vw;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 90vh; */
}


.close-ham{
  position: absolute;
  display: none;
  right: 20px;
  top: 20px;


}



.home ul li {
  list-style: none;
  width: 14px;
  display: flex;
  gap: 3px;
  padding-top: 14px;
  font-weight: 500;
}

.library {
  min-height: 80vh;
  position: relative;
}

.heading {
  /* width: 100%; */
  display: flex;
  gap: 3px;
  padding-top: 14px; 
  font-weight: 500;
  align-items: center;
  font-size: 13px;
  padding: 20px 14px;
}
.heading img {
  width: 30px;
}


.songList{
  padding: 12px;
  height: 450px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.songList ul li{
  list-style: decimal;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 15px 0;
  border: 1px solid white;
  border-radius: 5px;
  padding: 14px;
  
  /* width: 100%; */


}

.songList .info{
  font-size: 13px;
  width: 160px;
}

.playnow{
  gap: 5px;
}








.footer {
  /* text-decoration: none; */
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
}
.footer a {
  text-decoration: none;
  color: grey;
}

.right{
    /* max-height: 100vh;
    overflow-y: scroll; */
    position: relative;
}

.header {
  justify-content: space-between;
  background-color: rgb(22, 22, 22);
  align-items: center;
}

.header > * {
  padding: 18px;
}

/* #user{
  display: none;

} */

.nav{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}


.hamburger{
  display: none;
  z-index: 2;
  cursor: pointer;
}


.spotify-playlists {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding: 12px;
}
.spotify-playlists h1 {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding: 12px;
}

.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
  max-height: 70vh;
  overflow-y: auto;
  /* justify-content: center; */
}

.spotify-playlists .card {
  width: 200px;
  padding: 10px;
  background-color: #252525;
  border-radius: 7px;
  position: relative;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card > * {
  padding-top: 10px;
}

#play {
  display: flex;
  padding: 0;
  justify-content: center;     
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #1fdf64;
  border-radius: 70%;
  overflow: hidden;
  /* visibility: hidden; */
  position: absolute;
  top: var(--b);
  right: 21px;
  opacity: var(--a);
  transition: all 0.2s ease-out;
}
/* 158 */

.card:hover{
  background-color: rgb(26, 26, 26);
  --a:1;
  --b:158px;
  cursor: pointer;
}

/* .card{
  transition: all 0.5s;
} */

.loginbtn{
    background-color: #1fdf64;
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    border: none;
}

.loginbtn:hover{
    transform: scale(1.05);
    font-weight: 700;
}

.signupbtn{
    background-color: rgb(22, 22, 22);
    padding: 15px 30px;
    border-radius: 40px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    color: grey;
    border: none;
}
.signupbtn:hover{ 
    transform: scale(1.05);
    font-weight: 700;
    color: white;
    
}


.playbar{
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.851);
  padding: 10px;
  position: fixed;
  bottom: 45px;
  width: calc(75vw - 56px);
  border-radius: 10px;
  min-height: 40px;
  z-index: 15;
}

/* .playbar > *{
  z-index: 15;
} */

.songbuttons img{
  padding: 0 20px;
}

.songbuttons{
  min-width: 200px;
}
.songinfo,.songbuttons,.timevol{
  width: 33%;  
  text-align:center;
}




.songinfo,.timevol{
  padding: 0 15px;
}

.seekbar{
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  height: 2px;
  width: 98%;
  position: absolute;
  bottom: 0;
  margin: 6px;
  cursor: pointer;
  

}

.circle{
  /* size: 23px 23px;? */
  width: 13px;
  height: 13px;
  background-color: white;
  position: relative;
  bottom: 6px;
  left: 0%;
  border-radius: 20px;
  transition: left 0.5s;
  
}

.abovebar{
  /* display: flex; */
  justify-content: space-between;
  margin: 20px 0;
}

.songbuttons img{
  cursor: pointer;
}

.timevol{
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.volume{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
    justify-content: center;
    cursor: pointer;
}

.range input{
  cursor: pointer;
  accent-color: #1fdf64;
}

/* .range input[type="range"]::-webkit-slider-runnable-track {
  background: #1fdf64;
  height: 0.5rem;
} */

/* For Firefox */
/* .range input[type="range"]::-moz-range-track {
  background: #1fdf64;
  height: 0.5rem;
} */


@media (max-width:1200px){

  .left{
    background-color: black;
    position: absolute;
    left: -150%;
    transition: all 0.3s;
    z-index: 10;
    width: 300px;
    padding: 0;
    height: 100vh ;
  }

  .right{
    width: 100vw;

  }

  .playbar{
    width: calc(100vw - 45px);
  }

  .hamburger{
    display: block;
  }

  .close-ham{
    display: block;
    cursor: pointer;
  }

  .seekbar{
    width: calc(100vw - 50px);
  }

  .spotify-playlists .card{
    width: 55vw;
    /* z-index: -1; */
  }

  .card-container{
    margin: 0;
    justify-content: center;
  }

  .right{
    margin: 0;
  }

  .abovebar{
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .songinfo,.songbuttons,.timevol{
    width: auto;  
    /* text-align:center; */
  }

  .timevol{
    flex-direction: column;
    gap: 12px;
  }

  .card-container{
    /* height: 100vh; */
    overflow-y: unset;
    max-height: unset;
    
  }

}


@media (max-width:500px){
  
}


@media (max-width:500px){
  .spotify-playlists .card{
    width: 100%;
    /* height: 100vh; */
  }

  .spotify-playlists h1{
    padding: 4px;
  }

  
  .right{
    height: 100vh;
  }
}
/* 
@media(max-width:400px){

} */